
@import './size-variables';
@import './theme-variables';
@import './mixin/theme-mixin';

.btn {
    @include themify($themes) {
        color: themed('textColor');  
        background-color: themed('mainBackgorund');
        font-size: themed('sizeMD');
      }
}
